:root{
    --Red: hsl(0, 100%, 74%); 
    --Green: hsl(154, 59%, 51%);    
    --Blue: hsl(248, 32%, 49%);    
    --Dark_Blue: hsl(249, 10%, 26%); 
    --Grayish_Blue: hsl(246, 25%, 77%);
    --font_400: 400;
    --font_500: 500;
    --font_600: 600;
    --font_700: 700;
    font-family: 'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}
body{
    font-size: 1.6rem;
    min-height: 100vh;
    background: url(/images/bg-intro-desktop.png) , var(--Red);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.container{
    width: 80%;
    display: flex;
    min-height: 100vh;
    
}
.left{
     flex:  1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.right{
    flex: 1;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right .trial{
    width: 100%;
    background-color: var(--Blue);
    padding: 1.5rem 2rem;
    text-align: center;
    border-radius: 0.6rem;
    box-shadow: 0rem 0.8rem 0rem rgba(0, 0, 0, 0.1)
}

.left .l_header{
    font-size: 5rem;
    line-height: 5rem;
}

.left .l_desc{
    margin-top: 3rem;
}

.right .trial p{
      font-weight: 300;
}

.right .trial p span{
    font-weight: var(--font_700);
}

.form{
    margin-top: 3rem;
    padding: 3rem;
    border-radius: 1rem;
    width: 100%;
    background-color: white;
    box-shadow: 0rem 1rem 0rem rgba(0, 0, 0, 0.1);

}

.input_wrapper{
    margin-bottom: 2rem;
    position: relative;
}

.input_wrapper input{
    width: 100%;
    height: 5rem;
    outline: none;
    border: 0.1rem solid var(--Grayish_Blue);
    border-radius: 0.6rem;
    font-weight: var(--font_700);
    padding-left: 3rem;
    font-family: 'Poppins', sans-serif;

}

.input_wrapper input:focus{
    border: 0.1rem solid black;
}

.input_wrapper::before{
    position: absolute;
    content: url(/images/icon-error.svg);
    top: 1.3rem;
   right: 1.7rem;
   display: none;

}

.input_wrapper p{
    color: var(--Red);
    font-size: 1.2rem;
    text-align: right;
    padding-top: 0.8rem;
    font-style: italic;
    font-weight: var(--font_500);
    display: none;
}

.trial_btn{
    width: 100%;
   height: 4.5rem;
   outline: none;
   text-transform: uppercase;
   background-color: var(--Green);
   color: white;
   border: none;
   border-radius: 0.6rem;
   font-weight: var(--font_700);
   letter-spacing: 0.2rem;
   cursor: pointer;
   font-family: 'Poppins', sans-serif;
   opacity: 0.8;
   transition: opacity 0.3s;
}

.trial_btn:hover{
    opacity: 1;
}
.form .t_c{
    color: var(--Grayish_Blue);
    font-size: 1rem;
    text-align: center;
    margin-top: 1.5rem;
}

.form .t_c a{
    text-decoration: none;
    color: var(--Red);
    font-weight: var(--font_700);
}

